.container {
    width: 1302px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container__row {
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
}

.container__item {
    width: 250px;
    height: 400px;
}

.container__item_model-2 {
    background: url("../assets/images/model2@2x.png");
    background-size: cover;
}

.container__item_model-3 {
    background: url("../assets/images/model3@2x.png");
    background-size: cover;
}

.container__item_model-4 {
    background: url("../assets/images/model4@2x.png");
    background-size: cover;
}

.container__item_model-5 {
    background: url("../assets/images/model5@2x.png");
    background-size: cover;
}

.container__item_model-6 {
    background: url("../assets/images/model6@2x.png");
    background-size: cover;
}

.container__item_model-7 {
    background: url("../assets/images/model7@2x.png");
    background-size: cover;
}

.container__item_model-8 {
    background: url("../assets/images/model8@2x.png");
    background-size: cover;
}

.container__item_model-9 {
    background: url("../assets/images/model9@2x.png");
    background-size: cover;
}

.container__item_model-10 {
    background: url("../assets/images/model10@2x.png");
    background-size: cover;
}

.container__item_model-11 {
    background: url("../assets/images/model11@2x.png");
    background-size: cover;
}

.container__item_hover {
    background-color: #262626;
    opacity: 0;
}

.container__item_hover:hover {
    transition: 2s;
    opacity: 0.9;
}

.container__info {
    width: 180px;
    height: 374px;
    color: #F9FAFC;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.model_name {
    margin-top: 9px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: bold;
}

.container__info_item {
    margin-bottom: 9px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

.container__info_item > i {
    margin-right: 5px;
}

.container__info_button {
    height: 19px;
    color: #F9FAFC;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    background: none;
    border: none;
    text-align: left;
}

.m-info-slider {
    width: 95%;
    height: 79vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.slide-hidden {
    display: none;
}
.m-info-slider__item {
    height: 95%;
    z-index: 3;
}

.m-info-slider__title {
    font-size: 52px;
    font-weight: bold;
    color: #262626;
    margin-top: 17px;
    margin-bottom: 30px;
    z-index: 3;
}

.m-info-slider__image {
    width: 840px;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.m-info-slider__info {
    width: 21%;
}

.m-info-slider__info_text {
    height: 57%;
    font-size: 16px;
    color: #262626;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.m-info-slider__text_item {
    display: flex;
}

.m-info-slider__text_item > span {
    width: 120px;
}

.m-info-slider__buttons {
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.slider__button {
    background: none;
    width: 80px;
    height: 45px;
    border: none;
    margin: 0;
    padding: 0;
    color: #262626;
    font-size: 14px;
}

.slider__button > i {
    font-size: 24px;
}

.slider__image {
    width: 400px;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.slider__image-1 {
    background: url("../assets/images/Group\ 15@2x.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.slider__image-2 {
    background: url("../assets/images/Group\ 1@2x.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.slide_nav {
    width: 11%;
}

.slide_nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.slide_nav__n-order {
    margin: 0 auto;
    font-size: 30px;
    color: #262626;
}

.slide_nav__n-order-active {
    font-size: 50px;
    font-weight: bold;
}

.n-order__button {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}